nav {
    border-bottom: 1px solid var(--pico-muted-border-color);
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

table {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}